/* styles.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('img2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: var(--text-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para el header */
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semi-transparente para el contenido principal */
    padding: 20px;
    margin: 20px;
    border-radius: 8px; /* Bordes redondeados */
}

h1, h2 {
    margin: 0;
    padding: 10px 0;
}

form input, form button {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
