:root {
    --primary-color: #4a90e2;
    --secondary-color: rgba(255, 255, 255, 0.1);
    --text-color: #ffffff;
    --header-bg: rgba(0, 0, 0, 0.7);
    --footer-bg: rgba(0, 0, 0, 0.8);
    --main-bg: rgba(0, 0, 0, 0.6);
    --game-item-bg: rgba(255, 255, 255, 0.1);
    --game-item-hover-bg: rgba(255, 255, 255, 0.2);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: var(--text-color);
    background-image: url('fondos-para-páginas-web-6.jpg');
}
header {
  background-color: var(--header-bg);
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}
  
nav ul li {
    margin: 0 1rem;
}
  
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}
  
nav ul li a:hover {
    color: #f0f2f5;
}
  
  
  
  main {
    max-width: 800px;
    margin: 6rem auto 2rem;
    padding: 2rem;
    background-color: var(--main-bg);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }
  
  h1 {
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  p {
    margin-bottom: 1rem;
    font-size: 1.1rem;
  }
  
  #gamesList {
    margin-top: 2rem;
    list-style-type: none;
  }
  
  #gamesList li {
    background-color: var(--game-item-bg);
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  }
  
  #gamesList li:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: var(--game-item-hover-bg);
  }
  
  #gamesList li strong {
    color: var(--primary-color);
    font-size: 1.2rem;
    display: block;
    margin-bottom: 0.5rem;
  }
  
  #gamesList li span {
    display: inline-block;
    margin-right: 1rem;
    color: #ddd;
  }
  
  footer {
    background-color: var(--footer-bg);
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  @media (max-width: 600px) {
    nav ul {
      justify-content: center;
      padding-right: 0;
    }
  
    nav ul li {
      margin: 0 0.5rem;
    }
  
    main {
      margin: 5rem 1rem 2rem;
      padding: 1rem;
    }
  
    h1 {
      font-size: 2rem;
    }
  }
    
